.container__find-coach {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-wrapper {
  @include flex(center, center, column);
  position: absolute;
  background-color: $tc-dark;
  width: 100%;
  bottom: -2rem;

  @include for-tablet {
    width: 75%;
    bottom: -18.75rem;
    right: 12.5%;
  }
}

.find-coach {
  &__form__txt-hidden {
    display: none;
    @include for-tablet {
      display: block;
    }
  }
  &__title__mark {
    &-hidden {
      display: none;
    }
    @include for-tablet {
      position: absolute;
      top: 21rem;
      left: 2.7rem;
      &-hidden {
        display: block;
      }
    }
    @include for-desktop {
      position: absolute;
      top: 24rem;
      left: 12rem;
    }
  }
  &__title {
    @include basic-font400;
    padding: 3rem 0.4rem 34rem 0.4rem;
    color: $tc-light;
    font-size: 2.5em;
    text-align: center;

    @include for-tablet {
      padding: 10.06rem 0 20.94rem 2.5rem;
      font-size: 2.8em;
      line-height: 4.5625rem;
      text-align: unset;
    }
    @include for-desktop {
      padding: 12.06rem 0 30.94rem 12.06rem;
      font-size: 4.5em;
      line-height: 4.5625rem;
    }
  }
  &__form__box {
    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
  &__form__txt {
    @include second-font700;
    color: $tc-light;
    @include for-tablet {
      font-size: 0.7em;
      &::after {
        position: absolute;
        content: "";
        background-color: $tc-light;
        width: 4rem;
        height: 0.02rem;
        bottom: 0.8rem;
        left: 0;
      }
    }

    @include for-desktop {
      font-size: 1.0625em;
      &::after {
        width: 6rem;
        height: 0.02rem;
        bottom: 1.2rem;
        left: 0;
      }
    }
  }

  &__form {
    width: 80%;
    @include for-tablet {
      width: 70%;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.563rem;
    }
    @include for-desktop {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }

  &__form__btn {
    background-color: #8bc23f;
    color: $tc-light;
    font-size: 0.9375em;
    padding: 0.6875rem 1.75rem;
    width: 100%;
    &:hover {
      background-color: rgb(17, 66, 174);
    }
    @include for-tablet {
      width: unset;
      font-size: 1em;
      line-height: 1em;
      padding: 0.55rem 1.9rem;
    }
    @include for-desktop {
      @include second-font700;
      font-size: 1.3125em;
      line-height: 1.5625em;
      padding: 1.125rem 4.563rem;
      border-radius: 1.2rem;
    }
  }

  &__burger__wrapper {
    position: absolute;
    top: 2.25rem;
    right: 0;
  }

  &__burger {
    position: relative;
    width: 1.3rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    @include for-tablet {
      display: none;
    }
  }
}
.form-title {
  @include basic-font400;
  padding: 1.75rem 0 2.8rem 0;
  color: $tc-light;
  font-size: 0.7rem;
  @include for-tablet {
    font-size: 0.8rem;
  }
  @include for-desktop {
    font-size: 1.5rem;
  }
}

.box-year {
  &__wrapper {
    @include flex(space-between, center, column);
    align-items: flex-start;
  }
  &__text {
    @include second-font400;
    font-size: 0.7rem;
    padding-left: 4%;
    display: inline-block;
    color: $tc-light;
  }
  @include for-tablet {
    &__text {
      display: inline-block;
      color: $tc-light;
      padding: 3%;
    }
    &__wrapper {
      @include flex(space-between, center, row);
    }
  }

  @include for-desktop {
    &__text {
      display: inline-block;
      color: $tc-light;
      padding: 3%;
    }
    &__wrapper {
      @include flex(space-between, center, row);
    }
  }
}
.box-make {
  @include for-tablet {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  @include for-desktop {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.box-model {
  @include for-tablet {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  @include for-desktop {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

.box-engine {
  @include for-tablet {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  @include for-desktop {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.box-transmission {
  @include for-tablet {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  @include for-desktop {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.box-lift {
  @include for-tablet {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  @include for-desktop {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.box-textarea {
  @include for-tablet {
    width: 100%;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  @include for-desktop {
    width: 100%;
    grid-column: 1/4;
    grid-row: 3/3;
  }
}
.box-submit {
  margin-bottom: 0.5rem;
  @include flex(center, center, row);
  @include for-tablet {
    position: relative;
    @include flex(space-between, center, row);
    grid-column: 1/3;
    grid-row: 5/6;
  }
  @include for-desktop {
    margin-bottom: 2rem;
    position: relative;
    @include flex(space-between, center, row);
    grid-column: 1/4;
    grid-row: 4/5;
  }
}

.find-coach__form__input,
.find-coach__form__textarea {
  padding: 0.75rem;
  @include second-font400;
  font-size: 0.625rem;
  line-height: 1.188rem;
  display: block;
  border: unset;
  background-color: #e9e9ea;
  width: 100%;
  box-sizing: border-box;
  @include for-tablet {
    font-size: 0.625em;
    line-height: 1.1875em;
    width: 100%;
  }
  @include for-desktop {
    font-size: 1.1875em;
    line-height: 1.375em;
  }
}
