.container__header {
  position: relative;
  background-position: center;
  background-size: cover;
}

.header-topmenu {
  position: relative;
  width: 100%;
  z-index: 3;
  @include flex(space-between, center, row);
  padding: 1.4rem 0;

  @include for-tablet {
    position: unset;
    flex-wrap: wrap;
    padding: 0.4rem 0 0 0;
  }
  @include for-desktop {
    width: 100%;
    flex-wrap: nowrap;
    padding: unset;
  }

  &__logo {
    @include flex(center, center, column);
    padding-left: 0.1em;
    @include for-tablet {
      padding: unset;
    }
    @include for-desktop {
      padding: 0.4em 0;
      margin-left: 2rem;
    }
  }

  &__logo__link {
    @include flex(center, center, row);
    text-decoration: none;
  }
  &__logo__icon {
    margin-right: 0.625rem;
    @include flex(center, center, row);
    position: relative;
    @include for-tablet {
      width: 7.375rem;
    }
  }

  &__logo__icon-right {
    position: absolute;
    right: -0.3125rem;
    top: 1rem;
    @include for-tablet {
      right: 2.338rem;
      top: 1rem;
    }
  }

  &__logo__text {
    display: none;
    @include for-tablet {
      display: block;
      @include basic-font400;
      text-transform: uppercase;
      color: $tc-logo;
      font-size: 0.5em;
      line-height: 1em;
      &:last-child {
        padding-left: 0.4rem;
        color: $tc-logo;
        font-size: 0.35em;
        letter-spacing: 0.6em;
        position: relative;
      }
      &:last-child::before {
        position: absolute;
        top: 0.11rem;
        left: -0.6rem;
        content: "";
        background-color: $tc-logo;
        width: 0.9rem;
        height: 0.01rem;
      }
      &:last-child::after {
        position: absolute;
        top: 0.11rem;
        left: 2.4rem;
        content: "";
        background-color: $tc-logo;
        width: 0.8rem;
        height: 0.01rem;
      }
    }
    @include for-desktop {
      font-size: 0.8em;

      &:last-child {
        padding: unset;
        font-size: 0.4em;
        letter-spacing: 0.8em;
      }

      &:last-child::before {
        position: absolute;
        top: 0.11rem;
        left: -1.7rem;
        content: "";
        background-color: $tc-logo;
        width: 1.5rem;
        height: 0.01rem;
      }
      &:last-child::after {
        position: absolute;
        top: 0.11rem;
        left: 2.6rem;
        content: "";
        background-color: $tc-logo;
        width: 1.7rem;
        height: 0.01rem;
      }
    }
  }
  &__button {
    background-color: $tc-dark;
    color: $tc-light;
    font-size: 0.9375em;
    padding: 0.5875rem 1.55rem;
    margin-right: 2rem;
    &:hover {
      background-color: rgb(159, 211, 60);
      color: $tc-dark;
    }
    @include for-tablet {
      font-size: 1em;
      line-height: 1em;
      padding: 0.55rem 1.9rem;
      margin-right: 1rem;
    }
    @include for-desktop {
      font-size: 1em;
      line-height: 1.0625em;
      padding: 0.55rem 1.9rem;
      min-width: 8.15rem;
      margin-right: 2rem;
      &_order_last {
        order: 3;
      }
    }
  }

  &__burger__wrapper {
    position: absolute;
    top: 2.25rem;
    right: 0;
  }

  &__burger {
    position: relative;
    width: 1.3rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    @include for-tablet {
      display: none;
    }
  }
  &__burger__line {
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: $tc-logo;
    border-radius: 0.25rem;
  }
  &__burger__line::before {
    position: absolute;
    content: "";
    display: block;
    top: -0.5em;
    right: 0;
    width: 58%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-logo;
  }

  &__burger__line::after {
    position: absolute;
    content: "";
    display: block;
    top: 0.5em;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-logo;
  }

  &__burger-active {
    background: linear-gradient(
        45deg,
        transparent 45%,
        $tc-logo 46%,
        $tc-logo 55%,
        transparent 56%
      ),
      linear-gradient(
        -45deg,
        transparent 45%,
        $tc-logo 46%,
        $tc-logo 55%,
        transparent 56%
      );
  }

  &__burger__line-hide {
    opacity: 0;
  }

  &__nav {
    @include for-tablet {
      @include flex(center, center, row);
      width: 100%;
    }
  }
  &__list {
    display: none;
    @include for-tablet {
      @include flex(center, center, row);
      width: 100%;
    }
  }

  &__list-active {
    position: absolute;
    background: rgba($color: #807b7b, $alpha: 1);
    top: 5.35rem;
    left: 0.675rem;
    height: 22.5rem;
    width: 91.5%;
    display: block;
    z-index: 100;

    @include for-tablet {
      display: none;
    }

    @include for-desktop {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding: 1.45rem 0 1.55rem 1.75rem;
    border-bottom: 0.1875rem solid #3b3b3b;

    @include for-tablet {
      border: unset;
      padding: 0.3rem 0;

      &:not(:last-child) {
        padding-right: 3%;
      }
    }

    @include for-desktop {
      &:nth-child(1) {
        padding-left: 13%;
      }
      &:nth-child(4) {
        padding-right: 12%;
      }
    }
  }

  &__link {
    @include basic-font400;
    text-transform: uppercase;
    font-size: 1.625em;
    line-height: 1em;
    text-decoration: none;
    color: $tc-light;

    @include for-tablet {
      color: $tc-dark;
      font-size: 0.8em;
      line-height: 1.125em;
      &:hover {
        color: $tc-dark_hover;
      }
    }
    @include for-desktop {
      font-size: 1em;
      line-height: 1.0625em;
    }
  }

  &__link:hover {
    color: $tc-dark;
  }

  &__link:hover::before {
    position: absolute;
    content: "";
    top: 0.95rem;
    left: 0;
    width: 0.4rem;
    height: 2.65rem;
    background-color: $tc-dark;

    @include for-tablet {
      display: none;
    }
  }
}
