@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "../scss/variables";
@import "../scss/mixins";
@import "../scss/header";
@import "../scss/findcoach";
@import "../scss/buttons";

// ==================

.container {
  min-width: 320px;
  font-size: 16px;

  @media screen and (min-width: 481px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 993px) {
    margin: 0 auto;
  }
}

.text_center {
  text-align: center;
}

.flex-between-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-wrapper-center {
  justify-content: center;
}
