<section class="find-coach">
  <div class="container container__find-coach">
    <h2 class="find-coach__title">Find the coach <br />for you</h2>
    <span class="find-coach__title__mark find-coach__title__mark-hidden">
      <svg
        width="46"
        height="25"
        viewBox="0 0 46 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M45.9746 2.27745L43.8453 0.184118L23.2533 20.4161L2.66265 0.184118L0.531982 2.27745L23.2533 24.6028L45.9746 2.27745Z"
          fill="white"
        />
      </svg>
    </span>

    <div class="form-wrapper">
      <h2 class="form-title">Search Pre-owned Inventory</h2>
      <form class="find-coach__form" action="sendMessage">
        <!-- ==== -->

        <div class="find-coach__form__box box-year">
          <div class="box-year__wrapper">
            <input
              class="find-coach__form__input input__minyear"
              type="text"
              placeholder="Min Year"
            />
            <span class="box-year__text">to</span>
            <input
              class="find-coach__form__input input__maxyear"
              type="text"
              placeholder="Max Year"
            />
          </div>
        </div>

        <!---->
        <div class="find-coach__form__box box-make">
          <input
            class="find-coach__form__input"
            type="text"
            placeholder="Make"
          />
        </div>
        <div class="find-coach__form__box box-model">
          <input
            class="find-coach__form__input"
            type="text"
            placeholder="Model"
          />
        </div>
        <div class="find-coach__form__box box-engine">
          <input
            class="find-coach__form__input"
            type="text"
            placeholder="Engine"
          />
        </div>
        <div class="find-coach__form__box box-transmission">
          <input
            class="find-coach__form__input"
            type="text"
            placeholder="Transmission"
          />
        </div>
        <div class="find-coach__form__box box-lift">
          <input
            class="find-coach__form__input"
            type="text"
            placeholder="Lift"
          />
        </div>

        <div class="find-coach__form__box box-textarea">
          <textarea
            rows="1"
            class="find-coach__form__textarea"
            placeholder="Reﬁne with Keywords (separate each entry with ; )"
          ></textarea>
        </div>
        <div class="find-coach__form__box box-submit">
          <span class="find-coach__form__txt find-coach__form__txt-hidden"
            >RESET FIELDS</span
          >
          <button class="find-coach__form__btn button" type="submit">
            search
          </button>
        </div>
        <!-- ===== -->
      </form>
    </div>
  </div>
</section>
