<header class="header">
  <div class="container container__header">
    <div class="header-topmenu">
      <div class="header-topmenu__logo">
        <div class="header-topmenu__logo__icon">
          <svg
            class="header-topmenu__logo__icon-left"
            width="42"
            height="55"
            viewBox="0 0 42 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d)">
              <path
                d="M27.8802 39.8081C18.7522 39.8081 11.3256 32.3814 11.3256 23.2534C11.3256 14.1254 18.7522 6.69878 27.8802 6.69878C31.5029 6.69878 34.8562 7.87211 37.5842 9.85478V2.21345C34.6296 0.845448 31.3442 0.0774462 27.8802 0.0774462C15.1002 0.0774462 4.70422 10.4748 4.70422 23.2534C4.70422 36.0334 15.1002 46.4294 27.8802 46.4294C31.3442 46.4294 34.6296 45.6614 37.5842 44.2934V36.6561C34.8562 38.6388 31.5029 39.8081 27.8802 39.8081Z"
                fill="#0071CE"
              />
            </g>
            <defs>
              <filter
                id="filter0_d"
                x="0.704224"
                y="0.0773926"
                width="40.88"
                height="54.352"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>
          <svg
            class="header-topmenu__logo__icon-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.2064 0.94287H0.879761V7.5642H17.2064V10.7762V20.6802V23.8909H23.8278V7.5642V0.94287H17.2064Z"
              fill="#8BC23F"
            />
          </svg>
        </div>

        <span class="header-topmenu__logo__text">global coach</span>
        <span class="header-topmenu__logo__text">sales</span>
      </div>

      <button
        class="button header-topmenu__button header-topmenu__button_order_last"
      >
        Call now
      </button>

      <div class="header-topmenu__burger__wrapper">
        <div class="header-topmenu__burger">
          <span class="header-topmenu__burger__line"></span>
        </div>
      </div>

      <nav class="header-topmenu__nav">
        <ul class="header-topmenu__list">
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">About</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Inventoty</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Contact</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">News</a>
          </li>
          <li class="header-topmenu__item">
            <a href="#" class="header-topmenu__link">Cart(0)</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
